# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List common libraries for Data Science
- Understand the use of Jupyter Notebook for arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:

- Numpy
- Pandas
- Scikit-learn

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# his will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author

Juan Pablo Cort√©s